.md-typeset h1{
  margin: 0px 0px 20px 0px;
}

.md-main__inner {
  margin-top: 5px;
}

.md-header__topic::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 1.4em; /* Adjust this value */
  margin-top: 0.6rem;
  margin-left: 0.2rem;
  background-color: currentColor;
  animation: cursor-blink 1.5s steps(2) infinite;
  vertical-align: text-bottom; /* Aligns cursor with text */
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

:root {
  --md-footer-bg-color: #1a1c23;
  --md-footer-fg-color: #999faa;
}

/* Links */
.md-typeset a {
  color: #1ABC9C;
}

/* Header Navigation */
.md-header {
  background-color: #1e2129;
}

/* Titles */
.md-typeset h1, .md-typeset h2, .md-typeset h3 {
  color: #E0E1E6;
}
.md-typeset a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Navigation foreground color */
:root {
  --md-primary-fg-color: #484848;
  --md-primary-fg-color--dark: #646464;
}

/* Add padding to main content area */
.md-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

/* Change only the links inside metadata items */
.md-meta__item a {
  color: #ef5552 !important; /* Your preferred color */
}

/* Optional: change hover color too */
.md-meta__item a:hover {
  color: #ffffff !important;
  text-decoration: underline;
}