.md-typeset h1{
  margin: 0px 0px 20px 0px;
}

.md-main__inner {
  margin-top: 5px;
}

.md-header__topic::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 1.4em; /* Adjust this value */
  margin-top: 0.6rem;
  margin-left: 0.2rem;
  background-color: currentColor;
  animation: cursor-blink 1.5s steps(2) infinite;
  vertical-align: text-bottom; /* Aligns cursor with text */
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

/* Add padding to main content area */
.md-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
}